@media all and (min-width: 480px) {
    .Login {
    padding: 100px 0 70px 0;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    
    }
    .Login form {
    margin: 0 auto;
    max-width: 320px;
    }
}
.Login form a {
    margin-bottom: 15px;
    display: block;
    font-size: 14px;
    }
.email-placeholder{
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
  outline: none;
}
.inside-login{
    width: 40%;
    padding: 30px 0 70px 0;
    border-radius: 40px;
  background-color: rgba(44, 209, 215, 0.3);

}
.width-set{
    width:50% !important;
}