.Notes form textarea {
    height: 300px;
    font-size: 1.5rem;
}
    
.attachment-img{
    margin: 1rem 0 1rem 1rem;
    width: 12vw;
    object-fit: contain;
  }
  .attachment-img {
    margin: 1rem 0 1rem 1rem;
    width: 13.5vw;
    object-fit: contain;
    border-radius: 24px;
}

.text-area {
    border-radius: 30px;
    border: 2px rgb(12, 243, 146) solid;
    box-shadow: 0px 0px 8px rgb(80, 212, 170);
    padding-top: 20px;
    padding-left: 20px;
}
.save-btn{
    display: flex;
    justify-content: space-between;
}
.btn-40{
    margin-top: 0 !important;
}
.together{
    margin-top: 30px;
}
.red{
    background-color: rgba(220, 50, 50,0.8) !important;
}